* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #202124;
}

header h1 {
    color: #5F6368;
    text-align: center;
    margin: 50px auto;
    font-weight: 400;
    font-size: 40px;
}

#amzn_assoc_ad_div_adunit0_0 {margin:0px 25%}

.content {
    display: flex;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(135deg, RGB(75, 41, 140), RGB(173, 35, 67));
}

.top-row, .bottom-row {
    display: inline-block;
    margin: 0px;
    text-align: center;
    width: 530px;
}

#box {
    width: 360px;
    height: 240px;
    background-color: black;
    border: 2px solid white;
    margin: 10px auto;
}

input {
    padding: 10px;
    width: 95px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    border: 2px solid white;
    color: white;
}

input[type="number"] {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.center-left-btn {
    margin: 0px 46px;
}

.center-right-btn {
    margin-right: 46px;
}

.hint {
    margin: 10px auto;
    width: 320px;
    background-image: linear-gradient(135deg, RGB(75, 41, 140), RGB(173, 35, 67));
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 300;
}

.hint h1 {
    text-align: center;
}

.hint li {
    text-align: left;
    list-style-position: inside;
    margin: 5px 0px;
}

.write {
    width: 100%;
    margin: 10px auto;
    max-width: 500px;
    height: 350px;
    background-image: linear-gradient(135deg, RGB(75, 41, 140), RGB(173, 35, 67));
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 20px;
}

.write pre {
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.copy-div {
    display: flex;
    max-width: 450px;
    margin: 30px auto 0px auto;
    align-items: center;
    width: 100%;
}

#writeIn {
    margin: 5px;
    background-color: black;
    flex: 0.85;
    font-weight: 300;
}

#copyButton {
    margin: 5px;
    flex: 0.15;
}

footer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    position: relative;
    bottom: 0px;
    background-image: linear-gradient(135deg, RGB(75, 41, 140), RGB(173, 35, 67));
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p {
    padding: 20px;
    width: 50%;
    font-size: 15px;
    font-weight: 300;
}

footer a {
    padding: 20px;
    width: 50%;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: inherit;
}

footer a:hover {
    color: black;
    transition: 0.4;
}

@media screen and (max-width: 600px) {

    .write pre {
        font-size: 15px;
        font-weight: 300;
    }

    .top-row, .bottom-row {
        width: 100%;
    }

    input {
        width: 80px;
        font-weight: 300;
        font-size: 15px;
    }

    .center-left-btn {
        margin: 0px 20px;
    }
    
    .center-right-btn {
        margin-right: 20px;
    }
    
}

@media screen and (max-width: 500px) {
    

    .center-left-btn {
        margin: 0px;
    }
    
    .center-right-btn {
        margin:0px;
    }

}
